require_relative '01_installation/provision/ansible_vagrant'


ansible_tags = []


vm_options = {
	memory: 4096
}
ansible_options = {
  playbook: "01_installation/provision/playbook.yml",
  tags: ansible_tags # If uncommented there the existing roles will be used when tagged with these values.
}


configure_base( "Example", vm_options, ansible_options )