require_relative '01_installation/provision/ansible_vagrant'



# Download and Prepare base box with components
install()

# Configure project specific settings
configure()

# Customize user specific settings
customize()